* {
  margin: 0;
  padding: 0;
  color: black;
}

body {
  padding: 2em;
  font-size: 1.5em;
}

h1 {
  font-style: italic;
  margin-bottom: .5em;
}

h1 > img {
  height: .6em;
}

label {
  font-weight: bold;
}

input {
  font-size: inherit;
  width: 70px;
  margin-right: 1em;
}
